.js .panel, .js .panel .form-item--honor-memory .honor-or-memory, .js .swag.swag--separate, .js .swag .form-item--atlantic_id {
	display: none;
}
.no-js .panel, .js .panel .form-item--honor-memory .honor-or-memory, .no-js .swag .form-item--atlantic_id {
	display: block;
}

.panel, .panel--error {
	h1, h2, h3 {
		margin-bottom: 0;
	}
	h1 {
		margin-bottom: 0;	
		font-size: 1.95rem;
	}
	h2 {
		margin-bottom: 0;
	}
	.actions {
		list-style: none;
		padding-left: 0;
		margin-left: 0;
	}
	&#panel--review {
		.actions {
			font-size: $micro-size;
		}
	}
	&#panel--pay {
		.actions {
			margin: $half-space 0 0 0;
		}
		.actions--edit-amount, .actions--pay-fees {
			font-size: 80%;
		}
	}
	.honor, .actions--edit-amount, .actions--pay-fees {
		font-family: $helvetica;
	}
	.actions--edit-amount {
		width: auto;
	}
	&#panel--review {
		.honor, .actions--edit-amount, .actions--pay-fees {
			font-size: $small-size;
		}
	}
	&#panel--review {
		.actions--edit-amount {
			float: right;
		}
	}
	.form-item--honor-memory {
		.honor-or-memory {
			padding: $half-space;
			margin-bottom: $half-space;
			background: $gray-lightest;
		}
	}
	.actions--edit-amount, .actions--pay-fees {
		line-height: normal;
		li {
			border-right: 1px solid $gray-med;
			padding: 0 $half-space;
			float: left;
		}
		label {
			font-size: inherit;
			font-family: inherit;
			margin: 0;
		}
		li:first-child {
			padding-left: 0;
		}
		li:last-child {
			border: none;
			padding-right: 0;
		}
	}
	.actions--edit-amount, .actions--pay-fees {
		font-size: 55%;
		margin-bottom: $half-space;
	}
	.benefits {
		margin-bottom: 0;
		> label {
			float: left;
			max-width: 150px;
			width: 32%;
			height: 98px;
			cursor: pointer;
			margin-right: $quarter-space;
			input {
				display: none;
			}
			div {
				padding: $half-space;
				width: 100%;
				height: 100%;
			}
			&:hover {
				background: $gray-dark;
				color: $white;
			}
		}
		label.swag:last-of-type {
			box-shadow: 0 0 3px 0 rgba(122,122,122, 1);
		    display: block;
		    float: left;
		    max-width: 150px;
		    text-align: center;
		    font-family: $helvetica;
		    height: 99px;
		    margin-right: 0;
		    div {
		    	padding: $milli-space;
		    }
		}
		label.swag.total--4:last-of-type {
			max-width: 100%;
			width: 100%;
			height: 36px;
			div {
				padding: $quarter-space;
			}
		}
		input:checked ~ div {
		  background: $minnpost-blue;
		  color: $white;
		}
		h3.swag, p.swag {
			clear: both;
		}
	}
}

.support--minimal {
	#amount_for_js {
		display: none;
	}
	.panel--form {
		display: block;
		h1 {
			margin-bottom: $quarter-space;
		}
		&#panel--details {
			.form-item input:last-child {
				margin-bottom: 0;
			}
			.form-item--amount {
				font-size: 1.25em;
				label, input {
					font-size: 1em;
				}
			}
		}
		&#panel--pay {
			display: flex;
		}
	}
}

// media queries
@media screen and (min-width: $small-screen) {
	.panel, .panel--error {
		h1 {
			font-size: $h1-size;
		}
		.actions--edit-amount, .actions--pay-fees {
			font-size: 80%;
		}
		&#panel--pay {
			h3, .actions--edit-amount {
				display: inline-block;
			}
			.actions--edit-amount {
				margin: $half-space 0 0 $h1-space;
			}
		}
	}
}

@media screen and (min-width: $large-screen) {
	.support--minimal .panel--form {
		display: block;
		&#panel--details {
			width: auto;
			margin-right: 10%;
			> fieldset {
				max-width: none;
				width: 82%;
			}
		}
		&#panel--pay {
			> fieldset {
				max-width: none;
				width: 100%;
			}
		}
	}
	fieldset.payment .location-group {
		@include row();
		> div {
		  @include span-columns(6);
		}
	}
}