.panel, .panel--error {
	&#panel--pay {
		p.recaptcha-terms {
			font-size: 75%;
			margin-top: $h4-space;
		}
		p.recaptcha-error {
			font-size: 80%;
			color: $minnpost-red-error;
		}
	}
}

.support--minimal {
	#amount_for_js {
		display: none;
	}
	.panel--form {
		display: block;
		h1 {
			margin-bottom: $quarter-space;
		}
		&#panel--details {
			.form-item {
				margin: 0 0 $milli-space 0;
				&:last-of-type {
					margin-bottom: 0;
				}
			}
			.form-item input:last-child {
				margin-bottom: 0;
			}
			.form-item--amount {
				font-size: 1.25em;
				label, input {
					font-size: 1em;
				}
			}
		}
		&#panel--pay {
			display: flex;
		}
	}
}
