.progress {
	@include clearfix;
	clear: both;
	ol {
		width: 100%;
		margin: 0;
		padding: 0;
		background: $gray-med;
		display: flex;
		counter-reset: li;
	}
	li {
		float: left;
		flex: 1;
		position: relative;
	}
	a, span {
		color: $white;
		font-family: $helvetica;
		display: block;
		padding: $small-space;
		text-decoration: none;
		transition: background-color 0.1s linear;
		border-right: 1px solid $gray-lightest;
		font-size: $h6-size;
	}
	a:hover, a:focus, a:active, a.active, span.active {
		background: $gray-dark;
	}
	a::before, span::before {
		content: none;
	    counter-increment: li;
	    font-size: $h1-size;
	    top: 0;
	    left: 1rem;
	    position: absolute;
	    color: $gray-light;
	    font-family: $nimbus;
		font-feature-settings: $nimbus-settings;
	}
}

// media queries
@media screen and (min-width: $small-screen) {
	.progress {
		a, span {
			font-size: $h6-size;
			padding: $small-space 0 $small-space 3em;
		}
		a::before, span::before {
			content: counter(li, decimal);
		    font-size: $h1-size;
		    top: -0.15em;
		}
	}
}
@media screen and (min-width: $medium-screen) {
	.progress {
		a, span {
			font-size: $h5-size;
			padding: $small-space 0 $small-space 3em;
		}
		a::before, span::before {
		    font-size: $h1-size;
		}
	}
}