.support--minimal {
	clear: both;
	display: flex;
	flex-direction: column;
}

.form-item--recurring {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	width: 100%;
	justify-content: space-between;
	position: relative;
	label {
		display: block;
		padding: 0.5em 1em;
		border: $base-border;
		cursor: pointer;
		font-family: $helvetica;
		font-size: 1.15em;
		text-align: center;
		flex: 1;
		margin-right: 4%;
		&:last-child {
			margin-right: 0;
		}
	}
	input {
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
	}
	label:hover {
		background: $base-border-color;
	}
	input:checked + label {
		background: $minnpost-blue;
		color: $minnpost-white;
	}
}

.anniversary-sponsorship-image {
	margin: $half-space auto;
	display: block;
}
