.form-item--ticket-quantity {
	margin: $quarter-space 0;
	font-size: 2em;
	#quantity {
		width: auto;
		display: inline-block;
		border: 1px solid $base-border-color;
	    padding: 0.35em 0;
	    width: 3em;
	    font-size: $h3-size;
	    font-family: NimbusSanNovConD-Bol,Helvetica,Arial,Geneva,sans-serif;
	    text-align: center;
    	vertical-align: top;
	}
	label {
		width: auto;
		display: inline-block;
		margin: $half-space 0 0 $half-space;
	}
}
.tickets .calculated-amount::before {
	content: '$';
}
.addeventatc {
	display: none;
	margin-top: $half-space;
}

.form-item--promo-code .code-result {
	&.error {
     color: $minnpost-red-error;
    }
    &.success {
     color: $minnpost-green;
    }
}

.event-details {
	.summary, .date, .location {
		border-bottom: 1px solid $base-border-color;
		margin: $half-space 0;
		padding: $half-space 0;
	}
	div:first-of-type {
		border-top: 1px solid $base-border-color;
	}
	h4 {
		font-size: $h6-size;
		font-weight: normal;
		margin-bottom: 0.15em;
		color: $gray-med;
	}
	h2 {
		font-size: $h4-size;
		margin-bottom: 0.15em;
	}
	h3 {
		font-size: $h5-size;
		font-weight: normal;
	}
	p {
		margin-bottom: 0;
	}
}

@media screen and (min-width: $large-screen) {
	#panel--tickets .ticket-select {
		margin: 0.5em 0 0 0;
		.form-item--promo-code:last-child {
			margin-bottom: 0;
		}
		@include row();
		> fieldset {
			@include span-columns(6);
			border: 0;
			padding: 0;
		}
		> fieldset:first-child {
			@include span-columns(6);
		}
	}
}