<section class="panel panel--form" id="panel--details">
  <div class="support support--summary">
    
      <h1>MinnRoast {{ year }} Sponsorship</h1>
    
      <p>Please join us as a sponsor of MinnRoast 2016 - MinnPost's 9th annual song-and-skit variety show featuring your favorite local politicians, journalists, and media types. The show will be held on Friday, April 15th at the Historic State Theatre in downtown Minneapolis. Individual tickets go on sale to members February 23rd and to non-members February 25th.</p>

      <fieldset class="sponsorship-levels">
        <label><input type="radio" name="amount" value="500" /> Sgt. Peppercorns - $500</label>
        <label><input type="radio" name="amount" value="1500" /> Hot Mamas &amp; Papas - $1,500</label>
        <label><input type="radio" name="amount" value="3000" /> Four Seasonings - $3,000</label>
        <label><input type="radio" name="amount" value="5000" /> Smokey &amp; the Miracle Workers - $5,000</label>
        <label><input type="radio" name="amount" value="7500" /> Reception Host - $7,500</label>
        <p><a href="https://www.minnpost.com/events/minnroast-2016">Learn more about sponsorship levels and benefits</a></p>
      </fieldset>

  </div>
  
</section>