<section class="panel panel--form" id="panel--details">
  <div class="support support--summary">
    
      <h1>MinnRoast {{ year }} Sponsorship</h1>
    
      <p>Please join us as a sponsor of MinnRoast 2015 - MinnPost's 8th annual song-and-skit variety show featuring your favorite local politicians, journalists, and media types. The show will be held on Friday, April 24th at the Historic State Theatre in downtown Minneapolis. Individual tickets go on sale to members March 16th and to non-members March 19th!</p>

      <fieldset class="sponsorship-levels">
        <label><input type="radio" name="sponsor_level" value="1500" /> Hot Mamas &amp; Papas - $1,500</label>
        <label><input type="radio" name="sponsor_level" value="3000" /> Four Seasonings - $3,000</label>
        <label><input type="radio" name="sponsor_level" value="5000" /> Smokey &amp; the Miracle Workers - $5,000</label>
        <label><input type="radio" name="sponsor_level" value="7500" /> Reception Host - $7,500</label>
        <p><a href="#">Learn more about sponsorship levels and benefits</a></p>
      </fieldset>

  </div>
  
</section>