@use "sass:math";
.a-form-caption {

    &.a-form-caption-recaptcha-terms {
        margin-top: 1.25em;
    }

    &.a-missing-payment-error {
        margin-bottom: $standard-heading-margin;
    }

    input[type="checkbox"],
    input[type="radio"] {
        display: inline;
        margin-right: math.div($standard-block-padding, 2);
    }

}