.a-input-prepend {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    .a-prefix {
        display: inline-block;
        position: absolute;
        left: $standard-block-padding / 2;
        color: neutral-color(dark);
        margin-bottom: 0;
    }
    
    input {
        display: inline-block;
        text-indent: $standard-block-padding + ($standard-block-padding / 2);
        margin-bottom: 0;
    }
}
