// variables
$meter-height: 0.75em;
$text-size: 84%;
//$font-default-sans: helvetica, arial, sans-serif;
$transition: width 0.4s ease-out;
$color_zero: #f00;
$color_one: #f00;
$color_two: #f60;
$color_three: #ff0;
$color_four: #008000;
$width_zero: 12.5%;
$width_one: 25%;
$width_two: 50%;
$width_three: 75%;
$width_four: 100%;
$color-gray: #ddd;

.a-password-strength {

    #password-strength {
        appearance: none;
        margin: 0.5em 0 0 0;
        width: 100%;
        height: $meter-height;
        background: none;
        background-color: rgba(0, 0, 0, 0.1);
    }

    #password-strength::-webkit-meter-bar {
        background: none;
        background-color: rgba(0, 0, 0, 0.1);
    }

    #password-strength[value="0"]::-webkit-meter-optimum-value {
        background: $color_zero;
    }

    #password-strength[value="1"]::-webkit-meter-optimum-value {
        background: $color_one;
    }

    #password-strength[value="2"]::-webkit-meter-optimum-value {
        background: $color_two;
    }

    #password-strength[value="3"]::-webkit-meter-optimum-value {
        background: $color_three;
    }

    #password-strength[value="4"]::-webkit-meter-optimum-value {
        background: $color_four;
    }

    #password-strength[value="0"]::-moz-meter-bar {
        background: $color_zero;
    }

    #password-strength[value="1"]::-moz-meter-bar {
        background: $color_one;
    }

    #password-strength[value="2"]::-moz-meter-bar {
        background: $color_two;
    }

    #password-strength[value="3"]::-moz-meter-bar {
        background: $color_three;
    }

    #password-strength[value="4"]::-moz-meter-bar {
        background: $color_four;
    }

    #password-strength::-webkit-meter-optimum-value {
        transition: $transition;
    }

    #password-strength > div {
        height: $meter-height;
        transition: $transition;
    }

    #password-strength[value="0"] > div {
        width: $width_zero;
        background: $color_zero;
    }

    #password-strength[value="1"] > div {
        width: $width_one;
        background: $color_one;
    }

    #password-strength[value="2"] > div {
        width: $width_two;
        background: $color_two;
    }

    #password-strength[value="3"] > div {
        width: $width_three;
        background: $color_three;
    }

    #password-strength[value="4"] > div {
        width: $width_four;
        background: $color_four;
    }

    #password-strength-text {

        span {
            display: inline;
            font-weight: 700;
        }
    }
}
