<!-- Google Tag Manager -->
<script data-cfasync="false" data-pagespeed-no-defer>
var dataLayer = dataLayer || [];
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.'+'js?id='+i+dl+'&gtm_auth={{google_tag_manager_auth}}&gtm_preview={{google_tag_manager_preview}}&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{google_tag_manager_id}}');
</script>
<!-- End Google Tag Manager -->
