.m-form-item {

    span.label {
        display: inline-block;
    }

    &.m-form-item-email-address {

        > div {
            margin-bottom: $standard-block-padding;
        }
    }

    &.m-form-item-display-name {
        margin-bottom: $standard-block-padding;
    }

    &.m-form-item-payment-method {
        border-radius: $border-radius;
        background: neutral-color(border);
        margin-bottom: $standard-block-padding;

        > label {
            padding: $standard-block-padding $standard-block-margin 0 $standard-block-margin;

            &:last-child {
                padding-top: 0;
                padding-bottom: $standard-block-padding;
            }
        }

        @media screen and (min-width: $breakpoint-sm) {
            display: flex;

            > label {

                &:last-child {
                    padding: $standard-block-padding $standard-block-margin 0 $standard-block-margin;
                }
            }
        }
    }

    &.m-form-item-newsletters input {
        margin-bottom: 0;
    }

    &.m-form-item-with-help {
        position: relative;

        .a-help-link {
            cursor: help;
            position: absolute;
            top: 2.25em;
            right: 0.375em;
            display: inline-block;
            background: transparent url('/static/img/help.png') no-repeat top left;
            background-position: 0 0;
        
            height: 12px;
            margin-top: 2px;
            padding: 0;
            width: 12px;
            @include hide-text;
        }
        
        .a-form-help {
            margin: 0 0 $h5-space 0;
        }
    }
}

.no-js .m-form-item-nojs {
    display: block;
}

.js .m-form-item-nojs {
    display: none;
}
