[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint-flask = "*"
pylint = "*"

[packages]
gunicorn = "==20.0.4"
pytz = "==2020.1"
stripe = "==2.51.0"
celery = "==4.4.7"
redis = "==3.5.3"
docopt = "==0.6.2"
email-validator = "==1.1.1"
fuzzywuzzy = "==0.18.0"
flask-talisman = "==0.7.0"
sentry-sdk = "==0.17.4"
blinker = "==1.4"
nameparser = "==1.0.6"
Flask = "==1.1.2"
Flask-WTF = "==0.14.3"
WTForms = "==2.3.3"
python-Levenshtein = "==0.12.0"
Flask-Limiter = "==1.4"
amazon_pay = "==2.6.0"
python-dotenv = "*"
plaid-python = "==6.0.0"
simplejson = "==3.17.2"

[requires]
python_version = "3.7"
