[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint-flask = "*"
pylint = "*"

[packages]
gunicorn = "==19.9.0"
pytz = "==2019.3"
stripe = "==2.40.0"
celery = "==4.3.0"
redis = "==3.2.0"
docopt = "==0.6.2"
email-validator = "==1.0.3"
fuzzywuzzy = "==0.17.0"
flask-talisman = "==0.5.1"
sentry-sdk = "==0.13.2"
blinker = "==1.4"
nameparser = "==1.0.4"
Flask = "==1.0.2"
Flask-WTF = "==0.14.3"
WTForms = "==2.2.1"
python-Levenshtein = "==0.12.0"
Flask-Limiter = "==1.0.1"
amazon_pay = "==2.6.0"
python-dotenv = "*"
plaid-python = "==3.4.0"
simplejson = "==3.16.0"

[requires]
python_version = "3.7"
