<section class="panel panel--form" id="panel--details">
  <div class="support support--summary">
    
      <h1>MinnRoast Patron Packages</h1>
    
      <p>Thank you for becoming a MinnRoast Patron! As a Patron, you receive the most exclusive access to this unique annual tradition and provide crucial financial support for MinnPost's nonprofit newsroom. Cheers!</p>

      <fieldset class="sponsorship-levels">
        <label><input type="radio" name="amount" value="8000" required /> Executive Co-Producer - $8,000 (12 tickets)</label>
        <label><input type="radio" name="amount" value="5000" required /> Smokey &amp; the Miracle Workers - $5,000 (10 tickets)</label>
        <label><input type="radio" name="amount" value="3000" required /> Four Seasonings - $3,000 (8 tickets)</label>
        <label><input type="radio" name="amount" value="1500" required /> Hot Mamas &amp; Papas - $1,500 (6 tickets)</label>
        <label><input type="radio" name="amount" value="500" required /> Sgt. Peppercorns - $500 (2 tickets)</label>
        <label><input type="radio" name="amount" value="350" required /> Young Professional Rate (2 tickets) - $350</label>
        <label><input type="radio" name="amount" value="175" required /> Young Professional Rate (1 ticket) - $175</label>
        <p><a href="https://www.minnpost.com/minnroast#tickets">Learn more about MinnRoast Patron levels and benefits</a></p>
      </fieldset>

  </div>

  <fieldset class="clear-block">
    <div class="form-item form-item--additional-donation">
      <label for="additional_donation">Additional Donation (optional): </label>
      <input type="number" id="additional_donation" name="additional_donation" value="{{ additional_donation }}" step="any">
    </div>
  </fieldset>
  
</section>