<section class="o-panel o-panel-form" id="panel--details">
  <div class="support m-support-summary">
    <p>Thank you for joining us to celebrate and support MinnPost as we kick off our 15th Anniversary year on Tuesday, Sept. 13, 5:30-7:30 p.m. on the 25th floor of Expo Mpls.</p>
    <fieldset class="m-sponsorship-levels">
      <label><input type="radio" name="amount" value="3000" data-fair-market-value="0"{% if amount == 3000 %} checked{% endif %} required> $3,000 - <strong>Host (2 tickets)</strong></label>
      <label><input type="radio" name="amount" value="1500" data-fair-market-value="0"{% if amount == 1500 %} checked{% endif %} required> $1,500 - <strong>Host (2 tickets)</strong></label>
      <label><input type="radio" name="amount" value="600" data-fair-market-value="0"{% if amount == 600 %} checked{% endif %} required> $600 - <strong>Host (2 tickets)</strong></label>
      <label><input type="radio" name="amount" value="450" data-fair-market-value="0"{% if amount == 450 %} checked{% endif %} required> $450 - <strong>Ticket (2 tickets)</strong></label>
      <label><input type="radio" name="amount" value="225" data-fair-market-value="0"{% if amount == 225 %} checked{% endif %} required> $225 - <strong>Ticket (1 ticket)</strong></label>
      {% include "/shared/additional-amount.html" %}
    </fieldset>
  </div>
</section>
