<h1>Thank you for supporting MinnPost!</h1>
<p>Thank you for supporting MinnPost at our 13th Anniversary Celebration at the ${{ amount }} level{% if additional_donation and additional_donation != 0 %} and for your additional ${{ additional_donation }} donation{% endif %}. We're looking forward to this year's event and are grateful you'll be a part of it as a Patron.</p>
<p>Check your email for payment confirmation, and we'll be in touch about further details regarding your Patron package. Thank you again for supporting MinnPost's nonprofit newsroom!</p>
