{% if decline_benefits != "true" %}
    {% if swag != "" %}
        <input type="hidden" name="member_benefit_request_swag" id="member_benefit_request_swag" value="{{ swag }}">
    {% endif %}
    {% if atlantic_subscription != "" %}
        <input type="hidden" name="member_benefit_request_atlantic" id="member_benefit_request_atlantic" value="{{ atlantic_subscription }}">
    {% endif %}
    {% if atlantic_id != "" %}
        <input type="hidden" name="member_benefit_request_atlantic_id" id="member_benefit_request_atlantic_id" value="{{ atlantic_id }}">
    {% endif %}
    {% if nyt_subscription != "" %}
        <input type="hidden" name="member_benefit_request_nyt" id="member_benefit_request_nyt" value="{{ nyt_subscription }}">
    {% endif %}
    {% if nyt_games_subscription != "" %}
        <input type="hidden" name="member_benefit_request_nyt_games" id="member_benefit_request_nyt_games" value="{{ nyt_games_subscription }}">
    {% endif %}
    {% if minnpost_tshirt != "" %}
        <input type="hidden" name="member_benefit_request_minnpost_tshirt" id="member_benefit_request_minnpost_tshirt" value="{{ minnpost_tshirt }}">
        {% if minnpost_tshirt_size_value != "" %}
            <input type="hidden" name="member_benefit_minnpost_tshirt_size" id="member_benefit_minnpost_tshirt_size" value="{{ minnpost_tshirt_size_value }}">
        {% endif %}
    {% endif %}
{% endif %}
