.support-single {

    .o-wrapper.o-wrapper-content {
        border-top: 2px solid neutral-color(dark);
        margin-top: -$standard-block-padding;
        padding-top: $standard-block-margin;
    }
}