//@import "../tools/paymentinfo";

fieldset.payment {
  p.error {
    margin-top: -$base-spacing;
    font-size: $small-size;

    &.error-invalid-request {
      margin-top: -$base-spacing / 2;
    }
  }
}

.m-form-item {
  
  .a-input-prepend {
    position: relative;
    .a-prefix {
      display: inline-block;
      position: absolute;
      left: $quarter-space;
      top: 0.4em;
      color: $gray-light;
    }
    input {
      display: inline-block;
      text-indent: $half-space;
      //width: 100%;
    }
  }
}

.form-item-recaptcha,
.g-recaptcha {
  margin-bottom: $h4-space;
}

input,
label,
select {
  &.error {
    color: $minnpost-red-error;
  }
}

.success {
  color: $minnpost-green;
}

label {

  &.required::after {
    content: "*";
    color: $minnpost-red-error;
  }

}

.m-form-item-with-help {
  position: relative;
}
.m-form-item-with-help .help-link {
  position: absolute;
  top: 2.25em;
  right: 0.375em;
  cursor: help;
  background: transparent url('/static/img/help.png') no-repeat top left;
  background-position: 0 0;
  display: inline-block;
  height: 12px;
  margin-top: 2px;
  padding: 0;
  width: 12px;
  @include hide-text;
}
.m-form-item-with-help .form-help {
  margin: 0 0 $h5-space 0;
  font-family: $helvetica;
  color: $gray-med;
}

.no-js .m-form-item-nojs {
  display: block;
}
.js .m-form-item-nojs {
  display: none;
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {

  &.error {
    color: $minnpost-red-error;
    border: 1px solid $minnpost-red-error;
  }

}

.invalid input:required:invalid,
.invalid select:required:invalid,
.invalid textarea:required:invalid {
  color: $minnpost-red-error;
  border: 1px solid $minnpost-red-error;
}

.invalid .error label {
  color: $minnpost-red-error; 
}



// this whole group only does the thing that tries to combine all the fields
// not confident that it is usable, currently



.card-instruction, .check-field {
  font-size: 80%;
  color: $gray-dark;

  &.invalid {
    color: $minnpost-red-error;
  }

  &.cc-error {
    font-family: $heading-font-family;
  }

  /*&.valid {
    color: $valid;
  }*/
}

.check-field {

  &.invalid {
    display: block;
    margin-top: -$quarter-space;
    margin-bottom: $base-spacing;
  }

  /*&.valid {
    color: $valid;
  }*/
}

.m-form-item-newsletters input {
  margin-bottom: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}
