//--------------------------------------*\
// Type
//--------------------------------------*/

// Base font stacks
$base-font-family: $georgia;
$heading-font-family: $helvetica;

// Base font sizes
$base-font-size: 1rem; // 16px

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Big sizes
$giga-size:         6rem;
$mega-size:         4.5rem;
$kilo-size:         4rem;

// Heading sizes
$h1-size:           2.5rem; // .alpha 44px
$h2-size:           2rem; // .beta 32px
$h3-size:           1.5rem; // .gamma 24px
$h4-size:           1.25rem; // .delta 20px
$h5-size:           1rem; // .epsilon 16px
$h6-size:           0.875rem; // .zeta 14px

$small-size: 0.8125rem; // 13px

// Small sizes
$milli-size:        0.75rem; // 12px
$micro-size:        0.625rem; // 10px
$half-size: 0.5rem; //8px


//--------------------------------------*\
// Colors
//--------------------------------------*/

// config
$_color-base-gray: rgb(122,122,122); // 7a7a7a
$_color-base-red: rgb(128,16,25); // 801018
$_color-base-blue: rgb(0,132,168); // 0084a8
$palettes: (
    grey: (
        base:  $_color-base-gray,
        light: lighten($_color-base-gray, 10%),
        dark: darken($_color-base-gray, 10%)
    ),
    red: (
        base:  $_color-base-red,
        light: lighten($_color-base-red, 10%),
        dark: darken($_color-base-red, 10%)
    ),
    blue: (
        base:  $_color-base-blue,
        light: lighten($_color-base-blue, 10%),
        dark: darken($_color-base-blue, 10%)
    ),
    purple: (
        base:   rgb(42,40,80),
        light:  rgb(51,46,140),
        dark:   rgb(40,38,65)
    ),
);

// Color Names
$black: #000;
$white: #fff;
$dark-gray: #333;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$heading-font-color: $dark-gray;
$action-color: palette(red);

// Brand colors
$minnpost-red: palette(red);
$minnpost-black: #1a1818;
$minnpost-white: #f0f0f5;
$minnpost-blue: #1d70a4;

// Grays
$gray-lightest: #cdcdd0;
$gray-light: #ababab;
$gray-med: palette(gray);
$gray-dark: #404040;
$gray-darkest: #282828;

// Membership levels
$minnpost-bronze: #cd7f32;
$minnpost-silver: #c0c0c0;
$minnpost-gold: #ffd700;
$minnpost-platinum: #e5e4e2;

// more colors
$minnpost-green: #469B61;
$minnpost-red-error: lighten(palette(red), 10%);


//--------------------------------------*\
// Borders, Radii, Shadows
//--------------------------------------*/

// Border
$base-border-color: $gray-light;
$base-border: 1px solid $base-border-color;

// Radius
$base-border-radius: 3px;

// Shadow
//$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
//$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$form-box-shadow: none;
$form-box-shadow-focus: none;


//--------------------------------------*\
// Spacing
//--------------------------------------*/

$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Spaces
$h1-space:           2.25em; // .alpha 36px
$h2-space:           2em; // .beta 32px
$h3-space:           1.5em; // .gamma 24px
$h4-space:           1.25em; // .delta 20px
$h5-space:           1em; // .epsilon 16px
$h6-space:           0.875em; // .zeta 14px

$small-space: 0.8125em; // 13px

// Small spaces
$milli-space:        0.75em; // 12px
$micro-space:        0.625em; // 10px

$half-space: 0.5em; // 8px
$third-space: 0.375em; // 6px
$quarter-space: 0.25em; // 4px

//font-family: $nimbus;
//font-feature-settings: $nimbus-settings;