.l-header {
	position: relative;
	margin-top: 10px;
	//margin-bottom: 10px;
}
.l-header .wrapper {
	display: flex;
	//flex-flow: column;
	flex-wrap: wrap;
}

// variables
$border-color-lighter: #e5e5e5;
$border-color-darker: #cdcdd0;
$cta-spacing: 8px;
$vertical-space: 1em;

// media query sizes. see minnpost-largo for theme queries.
$more-than-logo-screen: 500px;
$medium-margins-too-small: 700px;
$wrap-header: 830px;
$level-widths-change: 890px;
$nav-wrap-screen: 960px;

.m-support-cta {
	display: flex;
	&.m-support-cta-top {
		justify-content: space-evenly;
		align-items: center;
		text-align: center;
		flex-direction: column-reverse;
		width: auto;
		max-width: 100%;
		width: 100%;
		margin-bottom: $cta-spacing;
		h2 {
			font-size: 1rem;
			font-weight: normal;
			line-height: 16.5px;
			margin: 0;
		}
	}
}

// start media queries
@media screen and (min-width: $more-than-logo-screen) {
	.m-support-cta {
		&.m-support-cta-top {
			text-align: left;
			flex-direction: row;
			width: auto;
			h2 {
				font-weight: bold;
				line-height: normal;
			}
		}
	}
}

@media screen and (min-width: $wrap-header) and (max-width: $nav-wrap-screen) {
	.m-support-cta {
		&.m-support-cta-top {
			justify-content: space-evenly;
			align-items: flex-end;
			flex-direction: column;
		}
	}
}

@media screen and (min-width: $wrap-header) {
	.m-support-cta {
		&.m-support-cta-top {
			margin-left: auto;
			margin-bottom: 0;
		}
	}
}


// media queries
/*@media screen and (min-width: $nav-breaks) {
	.l-header .wrapper {
		display: block;
		flex-flow: none;
	}
}*/
