{% extends "anniversary-patron/layout.html" %}

{% block content %}

<main>
  <div class="wrapper support--forms">

  	<form>
  		<input type="hidden" name="flask_id" id="flask_id" value="{{ session['flask_id'] }}">
  		<input type="hidden" name="sf_type" id="sf_type" value="{{ session['sf_type'] }}">
	    <section id="panel--confirmation" class="panel panel--form">
	  	 <h1>Thank you for supporting MinnPost!</h1>
	  	 <p>Thank you for supporting MinnPost at our 13th Anniversary Celebration at the ${{ amount }} level{% if session['additional_donation'] != '' %} and for your additional ${{ session['additional_donation'] }} donation{% endif %}. We're looking forward to this year's event and are grateful you'll be a part of it as a Patron.</p>
	  	 <p>Check your email for payment confirmation, and we'll be in touch about further details regarding your Patron package. Thank you again for supporting MinnPost's nonprofit newsroom!</p>
	    </section>
	</form>

  </div>
</main>
{% endblock %}