<section class="panel panel--form" id="panel--details">
  <div class="support support--summary">
    
      <h1>{{ heading }}</h1>
    
      {% if summary != '' %}
      <p>{{ summary|safe }}</p>
      {% endif %}

  </div>

  {% if allow_additional == True %}
  <fieldset class="clear-block">
    <div class="form-item form-item--additional-donation">
      <label for="additional_donation">Additional Donation (optional): </label>
      <input type="number" id="additional_donation" name="additional_donation" value="{{ additional_donation }}">
    </div>
  </fieldset>
  {% endif %}
  
</section>