<section class="o-panel o-panel-form" id="panel--details">
    <div class="support m-support-summary">
      <p>{{ summary }}</p>
      <fieldset class="m-sponsorship-levels">
        <label><input type="radio" name="amount" value="8000" data-fair-market-value="600"{% if amount == 8000 %} checked{% endif %} required> $8,000 - <strong>Executive Presenter</strong></label>
        <label><input type="radio" name="amount" value="5000" data-fair-market-value="500"{% if amount == 5000 %} checked{% endif %} required> $5,000 - <strong>Tier I</strong></label>
        <label><input type="radio" name="amount" value="3000" data-fair-market-value="400"{% if amount == 3000 %} checked{% endif %} required> $3,000 - <strong>Tier II</strong></label>
        <label><input type="radio" name="amount" value="1500" data-fair-market-value="200"{% if amount == 1500 %} checked{% endif %} required> $1,500 - <strong>Tier III</strong></label>
        <label><input type="radio" name="amount" value="750" data-fair-market-value="100"{% if amount == 500 %} checked{% endif %} required> $500 - <strong>Tier IV</strong></label>
        <!--<p><a href="https://www.minnpost.com/festival/vip-packages/" target="_blank">Learn more about VIP package levels and benefits</a></p>-->
        {% include "/shared/additional-amount.html" %}
      </fieldset>
    </div>
  </section>