{% if show_ach == False %}
<fieldset class="credit-card-group">
  <div class="form-item" id="cc-number-wrapper">
    <label for="cc-number" class="required">Credit Card Number: </label>
    <input type="tel" maxlength="128" data-stripe="number" id="cc-number" size="60" value="" autocomplete="cc-number" placeholder="1234 5678 9012 3456" required />
  </div>
  <div class="card-group clear-block">
    <div class="form-item" id="cc-exp-wrapper">
      <label for="cc-exp" class="required">Expiration Date: </label>
      <input type="tel" maxlength="128" data-stripe="expiry" id="cc-exp" size="60" value="" autocomplete="cc-exp" placeholder="** / **" required />
    </div>
    <div class="form-item" id="cc-cvc-wrapper">
      <label for="cc-cvc" class="required">CVC Number: </label>
      <input type="tel" maxlength="128" data-stripe="cvc" id="cc-cvc" size="60" value="" autocomplete="off" placeholder="***" required />
    </div>
  </div>
</fieldset>
{% else %}
<fieldset class="payment-method-group">
  <div class="form-item two-radios" id="choose-payment-method">
    <label><input type="radio" name="method" id="choose-card" value="card" checked /> Pay with credit card</label>
    <label><input type="radio" name="method" id="choose-ach" value="ach" /> Pay with bank account</label>
  </div>
  <div class="payment-method choose-card active">
    <div class="form-item" id="cc-number-wrapper">
      <label for="cc-number" class="required">Credit Card Number: </label>
      <input type="tel" maxlength="128" data-stripe="number" id="cc-number" size="60" value="" autocomplete="cc-number" placeholder="1234 5678 9012 3456" required />
    </div>
    <div class="card-group clear-block">
      <div class="form-item" id="cc-exp-wrapper">
        <label for="cc-exp" class="required">Expiration Date: </label>
        <input type="tel" maxlength="128" data-stripe="expiry" id="cc-exp" size="60" value="" autocomplete="cc-exp" placeholder="** / **" required />
      </div>
      <div class="form-item" id="cc-cvc-wrapper">
        <label for="cc-cvc" class="required">CVC Number: </label>
        <input type="tel" maxlength="128" data-stripe="cvc" id="cc-cvc" size="60" value="" autocomplete="off" placeholder="***" required />
      </div>
    </div>
  </div>
  <div class="payment-method choose-ach">
    <div class="form-item" id="ach-button">
      <p>You can sign in directly to your bank's system and authorize MinnPost to make charges to your account. None of your credentials or account details are sent to us; we only receive the authorization.</p>
      <p><a href="#" id="authorize-ach">Sign in to your bank account</a></p>
    </div>
  </div>
</fieldset>
{% endif %}