<section class="panel panel--form" id="panel--pay">
  <!-- this should always change with the previous tab amount -->

  <fieldset class="amount">
    <h3>Donate $<span class="level-amount">{{ amount }}</span> <span class="frequency" data-year-freq="{{ yearly }}">{{ frequency }}</span></h1>
    <ul class="actions actions--edit-amount clear-block">
      <li>
        <a href="https://www.minnpost.com/support/?amount={{ amount }}&amp;frequency={{ frequency }}" id="edit_url">Edit Amount</a>
      </li>
    </ul>
  </fieldset>

  <fieldset class="payment">

    <div class="form-item form-item--first-name">
      <label for="first_name" class="required">First name: </label>
      <input type="text" id="first_name" name="first_name" maxlength="40" required value="{{ first_name }}">
    </div>

    <div class="form-item form-item--last-name">
      <label for="last_name" class="required">Last name: </label>
      <input type="text" id="last_name" name="last_name" maxlength="80" required value="{{ last_name }}">
    </div>
    
    <div class="form-item form-item--display-name">
      <div>
        <label for="display_as">Display as (in our year-end report): </label>
        <input type="text" id="display_as" name="display_as">
      </div>
      <div>
        <label class="additional-option"><input type="checkbox" name="anonymous" id="edit-anonymous" value="1"> Make this donation anonymously</label>
      </div>
    </div>

    <fieldset class="honor">
        <p>This donation is <a href="#" class="in-honor">in honor</a> or <a href="#" class="in-memory">in memory</a>...</p>
        <fieldset class="in-honor">
          <h3>In honor of</h3>
          <div class="form-item form-item--honoree-name">
            <label>Name <input type="text" id="in-honor-name" name="in_honor_name"></label>
            {% if allow_donation_notification == 'True' %}<label>Notify someone? <input type="checkbox" value="1" class="notify_someone" name="in_honor_notify" id="in-honor-notify"></label>{% endif %}
          </div>
          {% if allow_donation_notification == 'True' %}<div class="form-item form-item--notify">
            <label>Email (we will send a message if you put an address here) <input type="email" id="in-honor-email" name="in_honor_email"></label>
            <label>Include Amount? <input type="checkbox" value="1" name="in_honor_amount" id="in-honor-amount"></label>
          </div>{% endif %}
        </fieldset>
        <fieldset class="in-memory">
          <h3>In memory of</h3>
          <div class="form-item form-item--memory-name">
            <label>Name <input type="text" id="in-memory-name" name="in_memory_name"></label>
            {% if allow_donation_notification == 'True' %}<label>Notify someone? <input type="checkbox" value="1" class="notify_someone" name="in_memory_notify" id="in-memory-notify"></label>{% endif %}
          </div>
          {% if allow_donation_notification == 'True' %}<div class="form-item form-item--notify">
            <label>Email (we will send a message if you put an address here) <input type="email" id="in-memory-email" name="in_memory_email"></label>
            <label>Include Amount? <input type="checkbox" value="1" name="in_memory_amount" id="in-memory-amount"></label>
          </div>{% endif %}
        </fieldset>
      </fieldset> <!-- this should trigger the fields for reporting, and also for emailing to the user specified with/without the amount -->

    {% with shipping=true %}
    {% include 'includes/address-fields.html' %}
    {% endwith %}

    <div class="form-item form-item--email-address">
      <div>
        <label for="edit-email" class="required">Email Address: </label>
        <input type="email" id="edit-email" name="email" required value="{{ email }}">
      </div>
      <div>
        <label class="additional-option"><input type="checkbox" name="creatempaccount" id="creatempaccount"> Create a free MinnPost.com account</label>
      </div>
    </div>

    <div class="form-item form-item--password form-item--with-help">
      <label for="password">MinnPost.com Password: </label>
      <input type="password" name="password" id="password" maxlength="128">
    </div>

    {% include 'includes/card-or-ach.html' %}

    <button type="submit" class="btn btn--submit give" autocomplete="off">Place this Donation</button>

  </fieldset>

</section>