<section class="panel panel--form" id="panel--pay">
  <!-- this should always change with the previous tab amount -->

  <fieldset class="amount">
    <h3>Donate $<span class="level-amount">{{ amount }}</span><span class="frequency" data-year-freq="{{ yearly }}">{{ frequency_label }}</span></h1>
    <ul class="actions actions--edit-amount clear-block">
      <li>
        <a href="{{ step_one_url }}" id="edit_url">Edit Amount</a>
      </li>
    </ul>
  </fieldset>

  <fieldset class="payment">

    <div class="form-item form-item--first-name">
      <label for="first_name" class="required">First name: </label>
      <input type="text" id="first_name" name="first_name" maxlength="40" required value="{{ first_name }}">
    </div>

    <div class="form-item form-item--last-name">
      <label for="last_name" class="required">Last name: </label>
      <input type="text" id="last_name" name="last_name" maxlength="80" required value="{{ last_name }}">
    </div>
    
    <div class="form-group form-group--recognition">
      <div class="form-item form-item--display-name">
        <div>
          <label for="display_as">Preferred name(s) for donor recognition: </label>
          <input type="text" id="display_as" name="display_as">
        </div>
        <div>
          <label class="additional-option"><input type="checkbox" name="anonymous" id="edit-anonymous" value="1"> Make this donation anonymously</label>
        </div>
      </div>

      <div class="form-item form-item--honor-memory">
        <div>
          <label class="additional-option"><input type="radio" name="in-honor-or-memory" id="edit-in-honor" value="1"> Make this donation in honor of someone</label>
        </div>
        <div>
          <label class="additional-option"><input type="radio" name="in-honor-or-memory" id="edit-in-memory" value="1"> Make this donation in memory of someone</label>
        </div>
        <div class="honor-or-memory honor">
          <label for="in_honor_name">In honor of: </label>
          <input type="text" id="in-honor-name" name="in_honor_name">
        </div>
        <div class="honor-or-memory memory">
          <label for="in_memory_name">In memory of: </label>
          <input type="text" id="in-memory-name" name="in_memory_name">
        </div>
      </div>

    {% with shipping=true %}
    {% include 'includes/address-fields.html' %}
    {% endwith %}

    <div class="form-item form-item--email-address">
      <div>
        <label for="edit-email" class="required">Email Address: </label>
        <input type="email" id="edit-email" name="email" required value="{{ email }}">
      </div>
      <div>
        <label class="additional-option"><input type="checkbox" name="creatempaccount" id="creatempaccount"> Create a free MinnPost.com account</label>
      </div>
    </div>

    <div class="form-item form-item--password form-item--with-help">
      <label for="password">MinnPost.com Password: </label>
      <input type="password" name="password" id="password" maxlength="128">
    </div>

    {% include 'includes/card-or-ach.html' %}

    {% if use_recaptcha == True %}
      <div class="form-group">
          {% if form.recaptcha.invisible_on_load %}
              {{ form.recaptcha(form_id=form_id, class_="btn btn-outline-success") }}
          {% else %}
              {% if form.recaptcha.errors %}
                  <div class="">
                      {{ form.recaptcha(class_="form-control is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.recaptcha.errors %}
                              {{ error }}
                          {% endfor %}
                      </div>
                  </div>
              {% else %}
                  {{ form.recaptcha }}
              {% endif %}
          {% endif %}
      </div>
      <button class="btn btn--submit give g-recaptcha" data-sitekey="{{ recaptcha }}" data-callback="onSubmit" id="recaptcha-submit" autocomplete="off">Place this Donation</button>
      <p class="recaptcha-terms">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
    {% else %}
      <div id="hcaptcha" class="h-captcha" data-sitekey="f8009fab-be6c-4a2a-87b8-055fb46b3278" data-callback="onSubmit" data-size="invisible></div>
      <button type="submit" class="btn btn--submit give" autocomplete="off">Place this Donation</button>
    {% endif %}

  </fieldset>

</section>
