<section class="panel panel--form" id="panel--pay">
  <!-- this should always change with the previous tab amount -->

  <fieldset class="amount">
    <h3>Donate $<span class="level-amount">{{ amount }}</span> <span class="frequency" data-year-freq="{{ yearly }}">{{ frequency }}</span></h1>
    <ul class="actions actions--edit-amount clear-block">
      <li><a href="https://www.minnpost.com/support/">Edit</a></li>
      <li><label><input type="checkbox" value="1" id="edit-pay-fees" name="pay_fees"> Cover MinnPost's credit card fees</label></li>
    </ul>
  </fieldset>

  <fieldset class="payment">

    <div class="form-item form-item--first-name">
      <label>First name <input type="text" id="first_name" name="first_name" required value="{{ first_name }}"></label> <!-- load server-side from querystring -->
    </div>

    <div class="form-item form-item--last-name">
      <label>Last name <input type="text" id="last_name" name="last_name" required value="{{ last_name }}"></label> <!-- load server-side from querystring -->
    </div>
    
    <div class="form-item form-item--display-name">
      <div>
        <label>Display as (in our year-end report) <input type="text" id="display_as" name="display_as"></label>
      </div>
      <div>
        <label class="additional-option"><input type="checkbox" name="anonymous" id="edit-anonymous"> Make this donation anonymously</label>
      </div>
    </div>

    <fieldset class="billing" data-geo="data-geo">
      <div class="form-item form-item--nojs form-item--street">
        <label>Billing Street Address
          <input type="text" name="billing_street" id="edit-billing-street" data-geo-value="address">
        </label>
      </div>

      <div class="form-item form-item--nojs form-item--city">
        <label>Billing City
          <input type="text" name="billing_city" id="edit-billing-city" data-geo-value="city">
        </label>
      </div>

      <div class="form-item form-item--nojs form-item--state">
        <label>Billing State
          <input type="text" name="billing_state" id="edit-billing-state" data-geo-value="state">
        </label>
      </div>

      <div class="form-item form-item--nojs form-item--zip">
        <label>Billing Zip Code
          <input type="tel" name="billing_zip" id="edit-billing-zip" data-geo-value="zip">
        </label>
      </div>

      <div class="form-item form-item--nojs form-item--country">
        <label>Billing Country
          <input type="text" name="billing_country" id="edit-billing-country" data-geo-value="country">
        </label>
      </div>

      <div class="form-item-group form-item--geocode">
        <div class="form-item" id="useforshipping-wrapper">
          <label class="option" for="useforshipping">
          <input type="checkbox" name="useforshipping" id="useforshipping" value="1"  checked="checked"  class="form-checkbox" /> Use this address for shipping</label>
        </div>
      </div>

    </fieldset>

    <fieldset class="shipping" data-geo="data-geo">

      <div class="form-item-group form-item--shipping-name form-item--geocode">
        <div class="form-item form-item--shipping-name">
          <label>Ship To (if different)
            <input type="text" name="shipping_name" id="edit-shipping-name">
          </label>
        </div>
      </div>

      <div class="form-item form-item--nojs form-item--street">
        <label>Shipping Street Address
          <input type="text" name="shipping_street" id="edit-shipping-street" data-geo-value="address">
        </label>
      </div>

      <div class="form-item form-item--nojs form-item--city">
        <label>Shipping City
          <input type="text" name="shipping_city" id="edit-shipping-city" data-geo-value="city">
        </label>
      </div>

      <div class="form-item form-item--nojs form-item--state">
        <label>Shipping State
          <input type="text" name="shipping_state" id="edit-shipping-state" data-geo-value="state">
        </label>
      </div>

      <div class="form-item form-item--nojs form-item--zip">
        <label>Shipping Zip Code
          <input type="tel" name="shipping_zip" id="edit-shipping-zip" data-geo-value="zip">
        </label>
      </div>

      <div class="form-item form-item--nojs form-item--country">
        <label>Shipping Country
          <input type="text" name="shipping_country" id="edit-shipping-country" data-geo-value="country">
        </label>
      </div>
    </fieldset>

    <div class="form-item form-item--email-address">
      <label>Email Address <input type="email" id="edit-email" name="email" required value="{{ email }}"></label> <!-- load server-side from querystring -->
      <label class="additional-option"><input type="checkbox" name="creatempaccount" id="creatempaccount"> Create a free MinnPost.com account</label>
    </div>

    <div class="form-item form-item--password form-item--with-help">
      <label>MinnPost.com Password
        <input type="password" name="password" id="password" maxlength="128">
      </label>
    </div>

    <fieldset class="credit-card-group">
      <div class="form-item" id="cc-number-wrapper">
        <label for="cc-number">Credit Card Number: </label>
        <input type="tel" maxlength="128" data-stripe="number" id="cc-number" size="60" value="" autocomplete="cc-number" placeholder="1234 5678 9012 3456" required />
      </div>
      <div class="card-group clear-block">
        <div class="form-item" id="cc-exp-wrapper">
          <label for="cc-exp">Expiration Date: </label>
          <input type="tel" maxlength="128" data-stripe="expiry" id="cc-exp" size="60" value="" autocomplete="cc-exp" placeholder="** / **" required />
        </div>
        <div class="form-item" id="cc-cvc-wrapper">
          <label for="cc-cvc">CVC Number: </label>
          <input type="tel" maxlength="128" data-stripe="cvc" id="cc-cvc" size="60" value="" autocomplete="off" placeholder="***" required />
        </div>
      </div>
    </fieldset>

    <button type="submit" class="btn btn--submit give">Place this Donation</button>

  </fieldset>

</section>