{% extends "layout.html" %}

{% block content %}

<main>
  <div class="wrapper support--forms">

    <form action="{{ form_action }}" method="post" class="support support--cancel" id="cancel">
      {% include 'shared/hidden-fields.html' %}
      <input type="hidden" name="url" id="url" value="{{ url }}">
      {% if stage != '' %}
        <input type="hidden" name="stage" id="stage" value="{{ stage }}">
      {% endif %}
      {% if close_date %}
        <input type="hidden" name="close_date" id="close_date" value="{{ close_date }}">
      {% endif %}
      {% if opportunity_id %}
        <input type="hidden" name="opportunity_id" id="opportunity_id" value="{{ opportunity_id }}">
        <input type="hidden" name="installment_period" id="installment_period" value="one-time">
      {% endif %}
      {% if recurring_id %}
        <input type="hidden" name="recurring_id" id="recurring_id" value="{{ recurring_id }}">
        <input type="hidden" name="open_ended_status" id="open_ended_status" value="{{ open_ended_status }}">
      {% endif %}

      {% if email_user_when_canceled %}
        <input type="hidden" name="email_user_when_canceled" id="email_user_when_canceled" value="1">
      {% endif %}

      {% include 'minimal/details.html' %}
      {% include 'donation-cancel/button.html' %}

    </form>
  </div>
</main>

{% endblock %}
