{% extends "layout.html" %}

{% block content %}
<form action="{{ form_action }}" method="post" class="m-form m-form-standalone support--cancel" id="cancel">
  {% include 'shared/hidden-fields.html' %}
  <input type="hidden" name="amount" id="amount" value="{{ amount }}">
  {% if opportunity_id %}
    <input type="hidden" name="opportunity_id" id="opportunity_id" value="{{ opportunity_id }}">
    {% if stage != '' %}
      <input type="hidden" name="stage_name" id="stage_name" value="{{ stage_name }}">
    {% endif %}
    {% if close_date %}
      <input type="hidden" name="close_date" id="close_date" value="{{ close_date }}">
    {% endif %}
  {% endif %}
  <input type="hidden" name="installment_period" id="installment_period" value="{{ frequency }}">
  {% if recurring_id %}
    <input type="hidden" name="recurring_id" id="recurring_id" value="{{ recurring_id }}">
    <input type="hidden" name="open_ended_status" id="open_ended_status" value="{{ open_ended_status }}">
  {% endif %}
  {% if email_user_when_canceled %}
    <input type="hidden" name="email_user_when_canceled" id="email_user_when_canceled" value="1">
  {% endif %}
  {% include 'minimal/details.html' %}
  {% include 'donation-cancel/button.html' %}
</form>
{% endblock %}
