{% extends "layout.html" %}

{% block content %}
<form class="support support--confirm" method="post" id="confirm">
  <input type="hidden" name="amount" id="amount" value="19"> <!-- load server-side from form submit -->
  <input type="hidden" name="recurring" id="recurring" value="monthly"> <!-- load server-side from form submit -->
  <section class="panel panel--form" id="panel--confirmation">
    <h1>Thank you for supporting MinnPost</h1>
    <p>Thank you for your $<span class="level-amount">20</span> <span class="frequency" data-year-freq="12">monthly</span> donation. You are entitled to MinnPost <span class="level-name">Platinum</span> benefits, which you can <a href="https://www.minnpost.com/support/member-benefits/?level=platinum" target="_blank" class="review-benefits">review</a> anytime. You will receive an automatic receipt email, and if you've selected any items for shipping, we'll be shipping them to you.</p> <!-- load server-side from parsing querystring -->
    <h2>What next?</h2>
    <p>Please take a quick moment to share why you chose to support MinnPost, and consider signing up for our email newsletters if you haven't already.</p>
    <div class="support support--post-confirm">
      <fieldset class="support-reasons">
        <div class="form-item form-item--comments">
          <label>Your reason for supporting MinnPost
          <textarea id="PaymentControl_AdditionalInfoFields_AdditionalInfoTextbox_1" cols="20" rows="8" name="PaymentControl$AdditionalInfoFields$ctl01$AdditionalInfoTextbox"></textarea></label> <!-- could send to Givalike and/or ajax -->
          <label class="additional-option" id="PaymentControl_AdditionalInfoFields_AdditionalInfoLabel_2" for="PaymentControl_AdditionalInfoFields_AdditionalInfoCheckbox_2"><input type="checkbox" checked="checked" name="PaymentControl$AdditionalInfoFields$ctl02$AdditionalInfoCheckbox" id="PaymentControl_AdditionalInfoFields_AdditionalInfoCheckbox_2"> MinnPost has permission to post this comment on the website. </label>
        </div>
      </fieldset> <!-- we are open to how this gets transferred. if we need to, we can make a minnpost ajax endpoint, but it does have to get stored somewhere -->
      <fieldset class="support-newsletter">
        <div class="form-item form-item--newsletter">
          <label>Choose any of these newsletters</label>
          <label><input type="checkbox" name="newsletters" id="daily" value="Daily newsletter"> Daily newsletter</label>
          <label><input type="checkbox" name="newsletters" id="sunday" value="Sunday review"> Sunday review</label>
          <label><input type="checkbox" name="newsletters" id="greatermn" value="Greater Minnesota newsletter"> Greater Minnesota newsletter</label>
        </div>
        <div class="form-item form-item--newsletter">
          <label>Periodic MinnPost messages</label>
          <label><input type="checkbox" name="messages" id="events" value="Events &amp; member benefits"> Events &amp; member benefits</label>
          <label><input type="checkbox" name="messages" id="feedback" value="Opportunities to give MinnPost input/feedback"> Opportunities to give MinnPost input/feedback</label>
        </div>
      </fieldset> <!-- we have a working api endpoint for this already, and it is operating -->
    </div>
    <button class="clear-block" type="submit" name="finish" id="finish" class="btn btn--submit">Send and Finish</button> <!-- ideally this would call both ajax endpoints, but the mailchimp one is the only one currently in use -->
  </section>
</form>
{% endblock %}
