{% extends "layout.html" %} {% block title %} {{ super() }} {% endblock %} {%
block extra_script %} {{ super() }} {% endblock %} {% block content %} {{
super() }}
<div class="main grid_container--m prose grid_padded--xl">
  <h2>{{ message }}</h2>
  <p>
    If you're trying to become a member or make a donation, you can go to
    <a href="https://minnpost.com/support">our support page</a> for more info on how
    to support us or contact us at
    <a href="mailto:members@minnpost.com">members@minnpost.com</a
    >.
  </p>
  <p>
    Visit
    <a href="https://www.minnpost.com/">MinnPost</a> to
    read and explore our content.
  </p>
</div>
{% endblock %}
