{% extends "layout.html" %}

{% block content %}
<section class="progress progress--donation">
  <div class="wrapper">
    <ol>
      <li class="panel--choose"><span>Choose</span></li>
      <li class="panel--pay"><span>Payment</span></li>
      <li class="panel--confirmation"><span class="active">Thank You</span></li>
    </ol>
  </div>
</section>

<main>
  <div class="wrapper support--forms">
    <section id="panel--confirmation" class="panel panel--form">
      {% if url != "" %}
        {% include '/%s/finish.html' % url %}
      {% else %}
        <h1>{{ title }}</h1>
        <p>You're all done. Thanks again for your support of MinnPost.</p>
      {% endif %}
    </section>
  </div>
</main>
{% endblock %}