{% extends "layout.html" %}

{% block content %}
<section id="panel--confirmation" class="o-panel o-panel-form">
  <input type="hidden" name="amount" id="amount" value="{{ amount }}">
  <input type="hidden" name="installment_period" id="installment_period" value="{{ frequency }}">
  {% if path != "" and folder != "" %}
    {% include "/" + path + "/" + folder + "/finish.html" %}
  {% elif path != "" %}
    {% include "/%s/finish.html" % path %}
  {% else %}
    <h1>{{ title }}</h1>
    <p>You're all done. Thanks again for your support of MinnPost.</p>
  {% endif %}
</section>
{% endblock %}
