{% extends "layout.html" %}

{% block content %}

<main>
  <div class="wrapper support--forms">

    <form action="{{ form_action }}" method="post" class="support support--minimal support--donate support--update" id="donate">
      {{ form.csrf_token }}

      <div id="amount_for_js" class="amount"><span class="level-amount">{{ amount }}</span></div>

      {% if update_default_source == True %}
        <input type="hidden" name="update_default_source" id="update_default_source" value="true">
      {% endif %}

      {% if stage != '' %}
        <input type="hidden" name="stage" id="stage" value="{{ stage }}">
      {% endif %}
      {% if close_date != '' %}
        <input type="hidden" name="close_date" id="close_date" value="{{ close_date }}">
      {% endif %}
      {% if amount != '' %}
        <input type="hidden" name="amount" id="amount" value="{{ amount }}">
      {% endif %}
      <input type="hidden" name="customer_id" id="edit-customer_id" value="{{ customer_id }}">
      {% if opportunity_id %}
        <input type="hidden" name="opportunity_id" id="opportunity_id" value="{{ opportunity_id }}">
        <input type="hidden" name="installment_period" id="installment_period" value="one-time">
      {% endif %}
      {% if recurring_id %}
        <input type="hidden" name="recurring_id" id="recurring_id" value="{{ recurring_id }}">
      {% endif %}
      <input type="hidden" name="campaign" id="campaign" value="{{ campaign }}">
      {% if pledge %}
        <input type="hidden" name="pledge" id="pledge" value="{{ pledge }}">
      {% endif %}
      {% if description %}
        <input type="hidden" name="description" id="description" value="{{ description }}">
      {% endif %}
      {% if opportunity_type %}
        <input type="hidden" name="opportunity_type" id="opportunity_type" value="{{ opportunity_type }}">
      {% endif %}
      {% if opportunity_subtype %}
        <input type="hidden" name="opportunity_subtype" id="opportunity_subtype" value="{{ opportunity_subtype }}">
      {% endif %}
      
      <input type="hidden" name="lock_key" id="lock_key" value="{{ lock_key }}">

      {% include 'minimal/details.html' %}
      {% include 'shared/pay.html' %}

    </form>
  </div>
</main>

{% endblock %}
