{% extends "layout.html" %}

{% block content %}
  <form action="/charge" method="post" class="support support--donate" id="donate">
    {{ form.csrf_token }}

    <input type="hidden" name="original_amount" id="original_amount" value="{{ amount }}"> <!-- load server-side from querystring -->
    <input type="hidden" name="amount" id="amount" value="{{ amount }}"> <!-- load server-side from querystring -->
    <input type="hidden" name="recurring" id="recurring" value="{{ frequency }}"> <!-- load server-side from querystring -->

    {% include 'includes/review.html' %}
    {% include 'includes/pay.html' %}

  </form>

{% endblock %}
