<div class="m-form-actions">
    {% if use_recaptcha is sameas true %}
        <div class="a-g-recaptcha g-recaptcha" data-sitekey="{{ recaptcha }}"></div>
        <button type="submit" class="a-button a-button-pay" autocomplete="off">{{ button }}</button>
        <p class="a-form-caption a-form-caption-recaptcha-terms">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
    {% else %}
        <button type="submit" class="a-button a-button-pay" autocomplete="off">{{ button }}</button>
    {% endif %}
</div>
