<section class="panel panel--form" id="panel--pay">

  {% if hide_amount_heading != True %}
    {% include '/give/amount.html' %}
  {% endif %}

  <fieldset class="payment">

    {% include 'shared/name-fields.html' %}

    {% if hide_address != True %}
      {% with shipping=with_shipping %}
      {% include '/shared/address-fields.html' %}
      {% endwith %}
    {% endif %}

    <div class="form-item form-item--email-address">
      <div>
        <label for="email" class="required">Email Address: </label>
        <input type="email" id="email" name="email" required value="{{ email }}">
      </div>
      {% if hide_minnpost_account != True %}
      <div>
        <label class="additional-option"><input type="checkbox" name="creatempaccount" id="creatempaccount"> Create a free MinnPost.com account</label>
      </div>
      {% endif %}
    </div>

    {% if hide_minnpost_account != True %}
      <div class="form-item form-item--password form-item--with-help">
        <label for="password">MinnPost.com Password: </label>
        <input type="password" name="password" id="password" maxlength="128">
      </div>
    {% endif %}

    {% include '/shared/card-or-ach.html' %}

    {% if hide_pay_comments != True %}
    <div class="form-item form-item--comments">
      <label>Comments:
      <textarea id="reason_for_supporting" cols="20" rows="4" name="reason_for_supporting"></textarea></label> <!-- could send to Givalike and/or ajax -->
      <label class="additional-option" id="reason_shareable" for="reason_shareable"><input type="checkbox" checked="checked" name="reason_shareable" id="reason_shareable" value="1"> MinnPost has permission to post this comment on the website. </label>
    </div>
    {% endif %}

    {% if use_recaptcha == 'True' %}
      <div class="g-recaptcha" data-sitekey="{{ recaptcha }}"></div>
      <button type="submit" class="btn btn--submit give" autocomplete="off">{{ button }}</button>
      <p class="recaptcha-terms">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
    {% else %}
    <button type="submit" class="btn btn--submit give" autocomplete="off">{{ button }}</button>
    {% endif %}

  </fieldset>

</section>