<section class="panel panel--form" id="panel--details">
  <div class="support support--summary">

      <p>Support MinnPost as a Patron at our 12th Anniversary Celebration: Defending Democracy &mdash; a conversation with Brian Klaas, political scientist, columnist for The Washington Post, and a Minnesota native &mdash; on Monday, Nov. 18, at the Cowles Center in Minneapolis.</p>

      <fieldset class="sponsorship-levels">
        <label><input type="radio" name="amount" value="5000" required /> $5,000 - <strong>Executive Presenter</strong> (twelve tickets + benefits)</label>
        <label><input type="radio" name="amount" value="2400" required /> $2,400 - <strong>Tier I</strong>: (eight tickets + benefits)</label>
        <label><input type="radio" name="amount" value="1200" required /> $1,200 - <strong>Tier II</strong>: (six tickets + benefits)</label>
        <label><input type="radio" name="amount" value="600" required /> $600 - <strong>Tier III</strong>: (four tickets + benefits)</label>
        <label><input type="radio" name="amount" value="300" required /> $300 - <strong>Tier IV</strong>: (two tickets + benefits)</label>
        <p><a href="https://www.minnpost.com/inside-minnpost/2018/08/defendingdemocracy/#tickets" target="_blank">Learn more about Patron package levels and benefits</a></p>
      </fieldset>

  </div>

  <fieldset class="clear-block">
    <div class="form-item form-item--additional-donation">
      <label for="additional_donation">Additional Donation (optional): </label>
      <input type="number" id="additional_donation" name="additional_donation" value="{{ additional_donation }}" step="any">
    </div>
  </fieldset>
  
</section>