<fieldset class="event-details vevent">
	<h1>Event Details</h1>
	<div class="summary">
		<h2>Midsummer Musicale</h2>
		<p>Enjoy eclectic live music, delicious heavy hors d'oeuvres, wine, and lively conversation with other MinnPost supporters and friends.</p>
		</div>
	<div class="date">
		<h3><strong>Wednesday, August 17</strong></h3>
		<p>5:30pm - 7:30pm</p>
	</div>
	<div class="location">
		<h3><strong>Home of Lee Lynch &amp; Terry Saario</strong></h3>
		<p>on Cedar Lake (we'll send the exact address in our logistics email to attendees)</p>
	</div>

	<div title="Add to Calendar" class="addeventatc">
	    Add to Calendar
	    <span class="start">08/17/2016 05:30 PM</span>
	    <span class="end">08/17/2016 07:30 PM</span>
	    <span class="timezone">America/Chicago</span>
	    <span class="title">Midsummer Musicale</span>
	    <span class="description">Featuring Marla Spivak, Director of the U's Bee Lab</span>
	    <span class="organizer">MinnPost</span>
	    <span class="organizer_email">members@minnpost.com</span>
	    <span class="all_day_event">false</span>
	    <span class="date_format">MM/DD/YYYY</span>
	</div>

</fieldset>