<section class="panel panel--form" id="panel--pay">
  <!-- this should always change with the previous tab amount -->
  
  <h1>Payment</h1>
  <p>You are purchasing <span class="quantity">{{ quantity }}</span> <span class="purchase-item" data-single="ticket" data-plural="tickets">ticket</span>{% if quantity != 1 %}s{% endif %}<span class="has_additional" data-text=", and adding an additional donation of $<span class='additional_donation'>{{ additional_donation }}</span>,"></span>{% if additional_donation %}, and adding an additional donation of $<span class="additional_donation">{{ additional_donation }}</span>,{% endif %} for a total of <strong>$<span class="calculated-amount">{{ amount }}</span></strong>. Please enter your billing information.</p>

  <fieldset class="payment">

    <div class="form-item form-item--first-name">
      <label for="first_name" class="required">First name: </label>
      <input type="text" id="first_name" name="first_name" required value="{{ first_name }}">
    </div>

    <div class="form-item form-item--last-name">
      <label for="last_name" class="required">Last name: </label>
      <input type="text" id="last_name" name="last_name" required value="{{ last_name }}">
    </div>
    
    <div class="form-item form-item--display-name">
      <div>
        <label for="display_as">Display as (in our year-end report): </label>
        <input type="text" id="display_as" name="display_as">
      </div>
      <div>
        <label class="additional-option"><input type="checkbox" name="anonymous" id="edit-anonymous" value="1"> Make this donation anonymously</label>
      </div>
    </div>

    <fieldset class="billing" data-geo="data-geo">
      <div class="form-item form-item--nojs form-item--street">
        <label>Billing Street Address: </label>
        <input type="text" name="billing_street" id="edit-billing-street" data-geo-value="address">
      </div>

      <div class="form-item form-item--nojs form-item--city">
        <label>Billing City: </label>
        <input type="text" name="billing_city" id="edit-billing-city" data-geo-value="city">
      </div>

      <div class="form-item form-item--nojs form-item--state">
        <label>Billing State: </label>
        <input type="text" name="billing_state" id="edit-billing-state" data-geo-value="state">
      </div>

      <div class="form-item form-item--nojs form-item--zip">
        <label>Billing Zip Code: </label>
        <input type="tel" name="billing_zip" id="edit-billing-zip" data-geo-value="zip">
      </div>

      <div class="form-item form-item--nojs form-item--country">
        <label>Billing Country: </label>
        <input type="text" name="billing_country" id="edit-billing-country" data-geo-value="country">
      </div>

    </fieldset>

    <div class="form-item form-item--email-address">
      <label for="edit-email" class="required">Email Address: </label>
      <input type="email" id="edit-email" name="email" required value="{{ email }}">
      <label class="additional-option"><input type="checkbox" name="creatempaccount" id="creatempaccount"> Create a free MinnPost.com account</label>
    </div>

    <div class="form-item form-item--password form-item--with-help">
      <label for="password">MinnPost.com Password: </label>
      <input type="password" name="password" id="password" maxlength="128">
    </div>

    
    <fieldset class="credit-card-group">
      <div class="form-item" id="cc-number-wrapper">
        <label for="cc-number" class="required">Credit Card Number: </label>
        <input type="tel" maxlength="128" data-stripe="number" id="cc-number" size="60" value="" autocomplete="cc-number" placeholder="1234 5678 9012 3456" required />
      </div>
      <div class="card-group clear-block">
        <div class="form-item" id="cc-exp-wrapper">
          <label for="cc-exp" class="required">Expiration Date: </label>
          <input type="tel" maxlength="128" data-stripe="expiry" id="cc-exp" size="60" value="" autocomplete="cc-exp" placeholder="** / **" required />
        </div>
        <div class="form-item" id="cc-cvc-wrapper">
          <label for="cc-cvc" class="required">CVC Number: </label>
          <input type="tel" maxlength="128" data-stripe="cvc" id="cc-cvc" size="60" value="" autocomplete="off" placeholder="***" required />
        </div>
      </div>
    </fieldset>
    

    <button type="submit" class="btn btn--submit give" autocomplete="off">Complete Purchase</button>

  </fieldset>

</section>