<section class="panel panel--form" id="panel--tickets">
	<div class="ticket-select">
		<fieldset class="tickets">
			<h1>Tickets</h1>
			<div class="form-item form-item--ticket-quantity">
				<label for="quantity" class="required">Quantity:</label>
		      	<input type="number" id="quantity" name="quantity" min="1" required value="{{ quantity }}" data-unit-price="{{ single_unit_price }}" autocomplete="off">
		      	<span class="unit-price">x $<span class="show-unit-price">{{ single_unit_price }}</span> per ticket</span>
		      <!--<label for="quantity">Quantity</label>-->
		    </div>
			<div class="form-item form-item--additional-donation">
		      <label for="additional_donation">Additional Donation (optional): </label>
		      <div class="input-prepend">
		      	<span class="prefix">$</span>
		      	<input type="number" id="additional_donation" name="additional_donation" min="0" step="any" value="{{ additional_donation }}">
		      </div>
		    </div>
		    <div class="form-item preview" style="font-size: 2em; margin: 0;">
		    	<span>Total: </span><span class="calculated-amount">{{ starting_amount }}</span>
		    </div>
		</fieldset>

		{% include 'minnpost-events/includes/event-details.html' %}

	</div>
	<a href="/event-register/?step=panel--attendees" class="btn btn--next">Add Attendees</a>
</section>