{% extends "minnpost-events/layout.html" %}

{% block content %}

<div class="wrapper">
  <img src="https://givalike.org/Client-Content/366066/EarthJournalEvent.png" alt="" />
</div>

<section class="progress progress--donation">
  <div class="wrapper">
    <ol>
      <li class="panel--tickets"><span>Tickets</span></li>
      <li class="panel--attendees"><span>Attendees</span></li>
      <li class="panel--pay"><span>Payment</span></li>
      <li class="panel--confirmation"><span class="active">Thank You</span></li>
    </ol>
  </div>
</section>

<main>
  <div class="wrapper support--forms">

    <section id="panel--confirmation" class="panel panel--form">
      <div class="ticket-confirm">
        <fieldset class="confirm">
          <h1>Thank you for purchasing event tickets</h1>
          <p>Thank you for purchasing {{ session['quantity'] }} ticket{% if session['quantity'] != 1 %}s{% endif %}{% if session['additional_donation'] != '' %}, and for your additional ${{ session['additional_donation'] }} donation{% endif %}. We look forward to seeing you!</p>
          <p>Check your email for your payment confirmation and more details regarding this event.</p>
        </fieldset>
        {% include 'minnpost-events/includes/event-details.html' %}
      </div>
    </section>

  </div>
</main>
{% endblock %}