{% extends "minnpost-events/layout.html" %}

{% block content %}

<main>
  <div class="wrapper support--forms">

    <section id="panel--confirmation" class="panel panel--form">
  	 <h1>Thank you for purchasing event tickets</h1>
  	 <p>Thank you for purchasing {{ quantity }} tickets{% if session['additional_donation'] != '' %}, and for your additional ${{ session['additional_donation'] }} donation{% endif %}. We look forward to seeing you!</p>
  	 <p>Check your email for your payment confirmation and more details regarding this event.</p>
    </section>

  </div>
</main>
{% endblock %}