{% extends "minnpost-events/layout.html" %}

{% block content %}

<section class="progress progress--donation">
  <div class="wrapper">
    <ol>
      <li class="panel--tickets"><a href="/event-register/?customer_id={{ customer_id }}&amp;campaign={{ campaign_id }}&amp;step=panel--tickets">Tickets</a></li>
      <li class="panel--attendees"><a href="/event-register/?customer_id={{ customer_id }}&amp;campaign={{ campaign_id }}&amp;step=panel--attendees">Attendees</a></li>
      <li class="panel--pay"><a href="/event-register/?customer_id={{ customer_id }}&amp;campaign={{ campaign_id }}&amp;step=panel--pay">Payment</a></li>
      <li class="panel--confirmation"><span>Thank You</span></li>
    </ol>
  </div>
</section>

<main>
  <div class="wrapper support--forms">

    <form action="/minnpost-event-confirm/" method="post" class="support support--donate" id="donate">
      {{ form.csrf_token }}

      <input type="hidden" name="event" id="event" value="{{ event }}">
      <input type="hidden" name="amount" id="amount" value="{{ starting_amount }}">
      <input type="hidden" name="recurring" id="recurring" value="one-time">
      <input type="hidden" name="customer_id" id="edit-customer_id" value="{{ customer_id }}">
      <input type="hidden" name="campaign" id="campaign" value="{{ campaign_id }}">
      <input type="hidden" name="description" id="description" value="MinnPost Event Registration">
      <input type="hidden" name="opp_type" id="opp_type" value="{{ opp_type }}">
      <input type="hidden" name="opp_subtype" id="opp_subtype" value="{{ opp_subtype }}">

      <input type="hidden" name="billing_street_geocode" id="billing_street_geocode" value="">
      <input type="hidden" name="billing_city_geocode" id="billing_city_geocode" value="">
      <input type="hidden" name="billing_state_geocode" id="billing_state_geocode" value="">
      <input type="hidden" name="billing_zip_geocode" id="billing_zip_geocode" value="">
      <input type="hidden" name="billing_country_geocode" id="billing_country_geocode" value="">

      {% if campaign['On_Sale__c'] == True %}
        {% if campaign['Sold_out__c'] == True %}
            {% include 'minnpost-events/includes/sold-out.html' %}
        {% else %}
          {% include 'minnpost-events/includes/tickets.html' %}
          {% include 'minnpost-events/includes/attendees.html' %}
          {% include 'minnpost-events/includes/pay.html' %}
        {% endif %}
      {% elif campaign['Sold_out__c'] == True %}
        {% include 'minnpost-events/includes/sold-out.html' %}
      {% elif campaign['On_Sale__c'] == False %}
        {% include 'minnpost-events/includes/not-on-sale.html' %}
      {% else %}
        {% include 'minnpost-events/includes/tickets.html' %}
        {% include 'minnpost-events/includes/attendees.html' %}
        {% include 'minnpost-events/includes/pay.html' %}
      {% endif %}

    </form>
  </div>
</main>

{% endblock %}
