<section class="panel panel--form" id="panel--pay">

  <fieldset class="payment">

    <div class="form-item form-item--organization">
      <label for="organization" class="required">Organization: </label>
      <input type="text" id="organization" name="organization" required value="{{ organization }}">
    </div>

    <div class="form-item form-item--first-name">
      <label for="first_name" class="required">First Name: </label>
      <input type="text" id="first_name" name="first_name" maxlength="40" required value="{{ first_name }}">
    </div>

    <div class="form-item form-item--last-name">
      <label for="last_name" class="required">Last Name: </label>
      <input type="text" id="last_name" name="last_name" maxlength="80" required value="{{ last_name }}">
    </div>

    <div class="form-item form-item--email-address">
      <label for="edit-email" class="required">Email Address: </label>
      <input type="email" id="edit-email" name="email" required value="{{ email }}">
    </div>

    {% include 'includes/address-fields.html' %}
    
    {% include '/includes/card-or-ach.html' %}

    <button type="submit" class="btn btn--submit give" autocomplete="off">Make payment</button>

  </fieldset>

</section>