<h1>Thank you for supporting MinnPost as a VIP!</h1>
<p>Thank you for being a VIP Supporter for MinnPost Tonight at the ${{ amount }} level{% if additional_donation and additional_donation != 0 %} and for your additional ${{ additional_donation }} donation{% endif %}. We're honored to have you with us as we welcome our exciting lineup of special guests for rich, insightful conversations about cultural life in Minnesota.</p>
<p>Check your email for payment confirmation, and we'll be in touch about further details regarding your VIP package.</p>
<p>We'll also stay in touch about news and updates about the event and our featured guests.</p>
<p>Your VIP support provides crucial funding for MinnPost's reporting year-round. Thank you for being such a vital part of our public-service journalism.</p>
